@font-face {
    font-family: Oswald;
    src: url(https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@100;300&display=swap);
}

.ContactForm {
    align-items: left;
    font-weight: 900;
    padding-left: 12rem;
}

.missing {
    font-family: Oswald;
    font-size: 80px;
}

.help {
    font-family: Oswald;
    font-size: 18px;
}

.form {
    font-family: Oswald;
    font-size: 18px;
    padding-top: 40px;
}

h2 {
    font-family: Oswald;
}

#form {
    padding-bottom: 10px;
}