{% load static %}

<html>

<head>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" /> -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@100;300&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: url('/backend/TurnersRedesign/static/cityscape.png');
        }
    </style>

</head>

<body>
    <div id="app">
        <h1>Hello world!</h1>
        <button id="click">Click me :)</button>
    </div>
    <script id="myscript" src="{% static 'build/main.js' %}"></script>
</body>

</html>